.checkbox-container {
  font-weight: 400;
  font-size: 12px;
  color: var(--darck-blue-gray);
}

.checkbox-group {
  position: relative;
  margin-bottom: 2.2rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.checkbox-container:hover .checkbox-input ~ .checkmark {
  border: 1px solid var(--black);
}

.checkbox-container .checkbox-input:checked ~ .checkmark {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container .checkbox-input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.error {
  font-weight: 400;
  font-size: 12px;
  color: var(--red);
}

.error-checkbox {
  top: 38px;
  text-align: center;
}
