.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 100%;
  padding: 40px 10px 20px;
  border-radius: 10px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 100;
}

.modal-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 5px;
  max-height: 70vh;
  overflow-y: auto;
  z-index: 100;
}

.gallery-item {
  position: relative;
  height: 140px;
  flex-grow: 1;
}

.gallery__delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-img:hover {
  border: 1px solid var(--secondary);
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery__btn {
  margin-top: 10px;
}
