.group {
    position: relative;
    width: 100%;
}

.group-photos {
    position: absolute;
}

.input-container {
  position: relative;
  margin-bottom: 19px;
}

.input {
  position: relative;
  z-index: 1;
  padding: 20px 16px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--grey-dark);
  background: transparent;
  outline: none;
}

.placeholder {
  position: absolute;
  left: 16px;
  top: 20px;
  color: var(--gray);
  pointer-events: none;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.placeholder.hidden {
  opacity: 0;
  visibility: hidden;
}

.required {
  color: red;
}

.error {
  position: absolute;
  top: 63px;
  width: 100%;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.error-photos {
  top: 45px;
  width: 200px;
}

.password-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
}
