.file-uploader__btn {
  flex-grow: 1;
  margin-bottom: 22px;
  max-width: 50%;
  min-width: 33%;
  padding: 12px 0;
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--white);

}

.file-uploader__btn-first {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  min-width: 33%;
  flex-grow: 1;
}
.file-uploader__btn-second {
  min-width: 33%;
  flex-grow: 1;
}

.file-uploader__btn-third {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 33%;
  flex-grow: 1;
}

.file-uploader__btn:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.file-uploader__buttons {
  display: flex;
}
