@import "normalize.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'PTSans';
  src: url('./fonts/PTSans-Regular.woff') format('woff'),
       url('./fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
	--primary: #154b65;
	--secondary: #2a97cb;
	--darck-blue-gray: #3e4545;
	--grey-dark: #b6bcbc;
	--gray: #9aaaab;
	--red: #710000;
	--black: #000;
	--backgraund: rgba(27, 28, 28, 0.7);
	--red-100: rgba(113, 0, 0, 0.1);
	--white: #fff;
  --gradient: linear-gradient(180deg, #2a97cb 0%, #154b65 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PTSans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}